*~
*.aux
*.dvi
*.backup
*.bak
sim/work/*
*.swp
*-blx.bib
*.bbl
*.log
*.toc
*.blg
db
incremental_db
_DaBa.pdf
transcript
vsim.wlf
work
modelsim.ini
*.rpt
*.done
*.summary
src/libaltera_mf/sim/altera_mf/
src/libcycloneii/sim/cycloneii/
doc/diplomarbeit/SdControllerSyncFsm.*
doc/diplomarbeit/SdwbslaveFifo.*
doc/diplomarbeit/SdwbslaveMain.*
doc/diplomarbeit/SdControllerConfig.*
doc/diplomarbeit/SdControllerInit.*
doc/diplomarbeit/SdControllerMain.*
doc/diplomarbeit/Crossbar.*
doc/diplomarbeit/P2P.*
doc/diplomarbeit/SdCmdFSM.*
doc/diplomarbeit/SdCmdSending.*
doc/diplomarbeit/SdControllerCmdData.*
doc/diplomarbeit/SdDataFSM.*
doc/diplomarbeit/SharedBus.*
doc/diplomarbeit/TestSys.*
doc/diplomarbeit/TopDesign.*
doc/diplomarbeit/_DaBa.out
doc/diplomarbeit/_DaBa.run.xml
doc/diplomarbeit/images/SdCmdMain.*
doc/diplomarbeit/designphases.*
